{% extends "base.html" %}
{% block content %}
<div class="container">

   <!-- forex form -->
   <form id="fxForm" class="" action="" method="post">
      <div class="form-group">
         <label for="searchItems">Forex Rate(s)</label>
         <div class="input-group">
            <input type="text" class="form-control" id="searchText" name="searchItems">
            <input type="submit" value="Find">
         </div>
      </div>
   </form>

   <p>{{new_searchItems}}</p>

   <!-- list of forex return quote(s) -->
   {% for item in new_searchItems %}
   <div class="">
     <p>{{item['symbol']}}</p>
     <p>Bid: {{item['bid']}}</p>
     <p>Ask: {{item['ask']}}</p>
     <p>Last Price: {{item['price']}}</p>
   </div>
   {% endfor %}

   <!-- forex label and filter -->
   <div class="row justify-content-between" id="listFilterBox">
      <div class="col-4">
      </div>
      <div class="col-4" id="filterBar">
         Filter: <input type="text" id="fxFilter" placeholder="Search">
      </div>
   </div>

   <!-- list of forex symbols -->
   <div id="fxSymbols">
     {% for fxSymb in fxList: %}
     <button type="button" id="fxBtn" data-toggle="button" class="btn btn-outline-info" value="{{fxSymb}}">{{fxSymb}}</button>
     {% endfor %}
   </div>

   <p>Forex List Last-Updated: {{dbFxList.lastUpdated}} UTC</p>
   <p>Current UTC time: {{utcTime}}</p>
</div>
{% endblock %}
